@font-face {
    font-family: 'Wisdom';
    src: url(../Fonts/Wisdom_Script_AJ.otf);
}
* {
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
header, section {
    width: 940px;
    margin: 0 auto;
}

header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin-left: 40px;
}

.logo {
    font-family: 'Wisdom';
    font-size: 260%;
    line-height: 41px;
    color: #fed136;
}
.menu a {
    color: #222;
    font-size: 14px;
    text-transform: uppercase;
}
.menu a:hover {
    color: #fed136;
}
.services {
    padding: 80px 0 120px;
    text-align: center;
}
h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
.subtitle {
    font-size: 16px;
    color: #777;
    font-style: italic;
}
.services-list {
    display: flex;
    list-style: none;
    padding: 75px 0;
}
.services-list img {
    width: 40px;
    display: inline-block;
    margin-bottom: 25px;
}
.services-list li {
    padding: 0 25px;
}
h3 {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin-bottom: 15px;
}
.services-list p {
    font-size: 14px;
    color: #777;
}
footer {
    background: #2F303A;
    padding-top: 35px;
}
.footer-bd img {
    margin-left: 59%;
    margin-bottom: -2%;
    height: 550px;
}

.contact {
    padding-left: 65px;
    padding-right: 65px;
}

.contact input,
.contact textarea {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(53, 53, 53, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}
.contact textarea {
    height: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.contact label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #b1b1b1;
    margin-bottom: 4px;
}
.contact .btn {
    width: 200px;
    height: 50px;
    background: #fed136 ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 29px;
    margin-bottom: 54px;
    color: #fff;
    text-transform: uppercase;
}
.contact {
    margin-right: 48%;
    margin-top: -24%;
    margin-bottom: -50%;
}